// Place all the styles related to the Descriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#descriptions {

  #new, #edit, #create {

    #acc-price, #target-price {

      div, p {
        display: inline-block;
      }

      p {
        width: 90px;
      }

      label {
        display: none;
      }

      select {
        margin: 0 4px 0 6px;
        padding: 0;
        border: none;
        outline: none;
        display: inline-block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
      }

      input[type=number] {
        width: 90px;
      }
    }

    #ingredients {
      width: 300px;

      div, input, label {
        display: inline-block;
        padding: 0;
        margin: 0;
      }

      ol {
        height: 120px;
        overflow: auto;

        li {
          position: relative;
          height: 24px;
        }

        .handle {
          width: 150px;

          &:hover {
            cursor: pointer;
            cursor: move;
          }
        }

        .destroy {
          position: absolute;
          top: 1px;
          right: 110px;
          color: #D9D9D9;

          &:hover {
            cursor: pointer;
            cursor: hand;
            color: crimson;
          }
        }

        .significance, .genuine {
          font-size: 0.5em;
        }

        .significance {
          position: absolute;
          top: 0;
          right: 9px;
        }

        .genuine {
          position: absolute;
          top: 4px;
          right: 85px;
        }
      }
    }
  }
}